{# contact.html.twig #}

{{ form_start(form) }}

<div>
    {{ form_widget(form.username) }}
    {{ form_errors(form.username) }}
</div>
<div>
    {{ form_widget(form.date) }}
    {{ form_errors(form.date) }}
</div>
<div>
    {{ form_widget(form.subject) }}
    {{ form_errors(form.subject) }}
</div>
<div>
    {{ form_widget(form.content) }}
    {{ form_errors(form.content) }}
</div>
{# Render CSRF token etc .#}
<div>
    {{ form_rest(form) }}
</div>

<input type="submit" value="Submit">

{{ form_end(form) }}